node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env # Hassas ortam değişkenleri


.DS_Store # macOS
.vscode/ # Visual Studio Code ayarları (isteğe bağlı, kişisel ise dahil etme)
*.log # Uygulama logları

dist/
build/


*~

.dockerdata/ # Eğer manuel olarak bir klasörde volume verisi tutuyorsak